<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Репетитор по физике - подготовка к ОГЭ/ЕГЭ</title>
	<link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
    <!-- Первый блок - Герой -->
    <section class="hero">
        <div class="stars" id="stars-container"></div>
        <div class="hero-content">
            <h1>Подготовка к ОГЭ и ЕГЭ по физике</h1>
            <p>Индивидуальные занятия с опытным преподавателем</p>
            <div>
                <a href="#programs" class="price-tag">Индивидуальные занятия от: 1 700 ₽ / 55 мин</a>
                <!--<a href="#programs" class="price-tag">Мини-группа (3-5 чел): 1000₽/55 мин</a>-->
            </div>
        </div>
    </section>
    
    <!-- Второй блок - Обо мне -->
    <section class="about">
        <div class="container">
            <img src="../static/img/Ivanov.jpg" alt="Фото преподавателя" class="about-img">
            <div class="about-text">
                <h2>Обо мне</h2>
                <p>Меня зовут <strong>Попов Алексей Александрович</strong>, я профессиональный репетитор по физике с большим опытом подготовки школьников к экзаменам.</p>
                <p><strong>Закончил физический факультет НГУ</strong>. Благодоря работе в школах имею глубокое понимание требований экзаменов.</p>
				<p><strong>Ежегодно прохожу повышение квалификации</strong> для улучшения методов подготовки учеников.</p>
                <p>Моя методика основана на индивидуальном подходе к каждому ученику, систематизации знаний и <strong>решении большого количества практических задач</strong>.</p>
				<p>Также являюсь автором платфлрмы по индивидуальной подготовки к ОГЭ по физике.</p>
            </div>
        </div>
    </section>
    
    <!-- Третий блок - Программы -->
    <section class="programs" id="programs">
        <h2>Программы подготовки</h2>
        <div class="program-cards">
			<div class="program-card">
                <h3>Средняя школа</h3>
                <ul>
                    <li>Качественное изучение тем</li>
                    <li>Решение домашних заданий</li>
                    <li>Подготовка к вступительным испытаниям</li>
                    <li>Физические эксперименты</li>
					<li>Разбор сложных заданий</li>
                    <li>Лайт-курс к ОГЭ включен</li>
                </ul>
                <div class="price">1 750 ₽ / занятие</div>
                <a href="#contact" class="btn">Записаться</a>
            </div>
                 
            <!-- Лайт-курс к ОГЭ -->

            <div class="program-card light-course">
                <div class="popular-label">★ Популярная новинка</div>
                <h3>Лайт-курс к ОГЭ</h3>
                <ul class="short-description">
                    <li>Тесты в игровой форме</li>
                    <li>Фундаментальные понятия</li>
                    <li>Решение типовых задач 1-2 части</li>
                    <li>Разбор сложных заданий</li>
                    <li>Возможность заниматься 24/7</li>
                </ul>
                
                <div class="full-description">
                    <h4>Что входит в курс:</h4>
                    <ul>
                        <li>Доступ к платформе с 1 000+ заданиями ОГЭ разных уровней сложности</li>
                        <li>Автоматическая проверка тестов с мгновенной обратной связью</li>
                        <li>Онлайн-разборы сложных задач</li>
                        <li>Персональный трекер прогресса с рекомендациями</li>
                        <li>Банк полезных материалов и шпаргалок</li>
                    </ul>
                    
                    <h4>Как проходит обучение:</h4>
                    <p>Курс полностью адаптивный - вы изучаете темы в своем темпе</p>
                    <br>
                    <p>Платформа сама определяет слабые места и предлагает дополнительные задания</p>
                    <br>
                    <p>Регулярно проводятся живые разборы с преподавателем</p>
                    <br>

                    <div class="bonus-block">
                        <h5>🎁 Удобно:</h5>
                        <p>
                            Платформа находится в телеграме 
                            <br>
                            Доступ 24/7 к материалам и задачам
                        </p>
                    </div>
                </div>
                
                
                <div class="price">1 950 ₽ / месяц</div>
                <a href="#contact" class="btn highlight-btn">Записаться</a>
                <button class="details-btn">Узнать больше ▼</button>
            </div>
            


            <div class="program-card">
                <h3>ОГЭ</h3>
                <ul>
                    <li>Полный курс школьной программы</li>
                    <li>Разбор всех типов задач ОГЭ</li>
                    <li>Домашние задания</li>
                    <li>Пробные тестирования</li>
                    <li>Физические эксперименты</li>
                    <li>Лайт-курс к ОГЭ включен</li>
                </ul>
                <div class="price">2 000 ₽ / занятие</div>
                <a href="#contact" class="btn">Записаться</a>
            </div>

			<!-- Мест нет -->
			<div class="program-card ege-full">
                <div class="full-label">Мест нет</div>
                <h3>ЕГЭ</h3>
                <ul>
                    <li>Систематизация знаний</li>
                    <li>Фундаментальные понятия</li>
                    <li>Решение типовых задач 1 и 2 части</li>
                    <li>Разбор распространенных ошибок</li>
                    <li>Олимпиадные методы</li>
                </ul>
                <div class="price">2 500 ₽ / занятие</div>
                <a href="#contact" class="btn disabled">Запись закрыта</a>
            </div>


        </div>
    </section>
    
        <!-- Четвертый блок - Результаты -->
    <section class="results">
        <h2>Результаты учеников</h2>
        <div class="results-grid">
            <div class="result-item">
                <div class="result-title">ОГЭ по физике</div>
                <div class="result-score">4.4</div>
                <div class="result-description">средняя оценка за 3 года</div>
                <div class="result-percent">100%</div>
                <div class="result-description">сдали экзамен</div>
            </div>
            <div class="result-item">
                <div class="result-title">ЕГЭ по физике</div>
                <div class="result-score">70</div>
                <div class="result-description">средний балл за 3 года</div>
                <div class="result-percent">100%</div>
                <div class="result-description">сдали экзамен</div>
            </div>
        </div>
    </section>
    
    <!-- Пятый блок - Отзывы -->
    <section class="reviews">
        <h2>Отзывы учеников</h2>
        <div class="review-cards">
            <div class="review-card">
                <p class="review-text">Иван Иванович - прекрасный преподаватель! Благодаря его занятиям я сдала ЕГЭ по физике на 94 балла и поступила в МФТИ. Объясняет очень понятно, всегда отвечает на вопросы и дает много полезных материалов.</p>
                <p class="review-author">- Мария, 11 класс</p>
            </div>
            
            <div class="review-card">
                <p class="review-text">Благодаря занятиям с Иваном Ивановичем дочь сдала ОГЭ на 5. Преподаватель умеет заинтересовать предметом, теперь физика - любимый предмет!</p>
                <p class="review-author">- Марина, мама ученицы, 9 класс</p>
            </div>

			<div class="review-card">
                <p class="review-text">Сдал ОГЭ на 5. Преподователь не душит непонятной теорией, объясняет качественно и всё понятно. Рекомендую!</p>
                <p class="review-author">- Артем, 9 класс</p>
            </div>
        </div>
    </section>
    
    <!-- Шестой блок - Контакты -->
    <section class="contact" id="contact">
        <h2>Контакты и запись</h2>
        <div class="container contact-container">
			<div class="contact-form">
                <h3>Форма записи</h3>
                <br>
                <form id="telegramForm">
                    <div class="form-group">
                        <label for="name">Ваше ФИО</label>
                        <input type="text" id="name" name="name" placeholder="Иванов Иван Иванович" required>
                    </div>

                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input type="tel" id="phone" name="phone" placeholder="+7 (999) 999-99-99" required>
                    </div>

                    <div class="form-group">
						<label for="promo">Промокод</label>
                        <input type="text" id="promo" name="promo" placeholder="physics">
					</div>

                    <div class="form-group">
                        <label for="program">Программа</label>
                        <select id="program" name="program" required>
                            <option value="11" disabled>ЕГЭ (мест нет)</option>
                            <option value="0">Лайт-курс ОГЭ (новинка)</option>
                            <option value="9">9 класс (ОГЭ)</option>
                            <option value="8">8 класс</option>
							<option value="7">7 класс</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="message">Дополнительная информация</label>
                        <textarea id="message" name="message" placeholder="Например почта, город, удобное время"></textarea>
                    </div>

                    <!-- Каптча -->

                    <div class="form-group">
                        <label for="captcha">Введите результат: <span id="captchaQuestion"></span></label>
                        <input type="text" id="captcha" name="captcha" required>
                    </div>

                    <button type="submit" class="btn">Отправить заявку</button>
                    <div id="telegramMessage" class="form-message"></div>
                </form>
            </div>

            
                <div class="contact-info">
                    <h3>Как со мной связаться</h3>
                    <!--
                    <div class="contact-item">
                        <span class="contact-icon">📱</span>
                        <span>Телефон: +7 (123) 456-78-90</span>
                    </div>
                    -->
                    <div class="contact-item">
                        <span class="contact-icon">✉️</span>
                        <span>Email: a.popov17@g.nsu.ru</span>
                    </div>
                    <div class="contact-item">
                        <span class="contact-icon">💬</span>
                        <span>Telegram: @itwistiks</span>
                    </div>
                    <div class="contact-item">
                        <span class="contact-icon">📍</span>
                        <span>Онлайн занятия без посредников</span>
                    </div>
                </div>
            
        </div>
    </section>
    
    <!-- Седьмой блок - Футер -->
    <footer class="footer">
        <p>© 2025 Подготовка к ОГЭ по физике. Все права защищены.</p>
    </footer>
    
    <script src="../static/js/stars.js"></script>
	<script src="../static/js/scrollBehavior.js"></script>
    <script src="../static/js/form.js"></script>
    <script src="../static/js/phone.js"></script>
    <script src="../static/js/captcha.js"></script>
    <script src="../static/js/details.js"></script>
</body>
</html>